.account_featured i {
    background-image: url("img/imgpw.png");
}

.account_sugestion div:nth-child(2) i {
    background-image: url("img/cars.jpg");
}

.account_sugestion div:nth-child(3) i {
    background-image: url("img/driven.png");
}

.account_sugestion div:nth-child(4) i {
    background-image: url("img/barked\ 1.png");
}

.account_sugestion div:nth-child(5) i {
    background-image: url("img/ford-raptor.jpg");
}

.account_sugestion div:nth-child(6) i {
    background-image: url("img/life_coding.jpg");
}