@media (max-width: 935px){
    .sidebar{
        display: none;
    }
}

@media (max-width: 614px){
    .logo img {
        display: none;
    }
    .logo .bar_vest{
        display: none;
    }

    .barra_superior .direito {
        display: none;
    }
}