/* parte central  post*/
.posts > div:nth-child(1) > .img {
    background-image: url("img/matrix.jpg");
}

.posts > div:nth-child(2) > .img {
    background-image: url("img/ford-raptor.jpg");
}

.posts > div:nth-child(4) > .img {
    background-image: url("img/setup.jpg");
}

.posts > div:nth-child(5) > .img {
    background-image: url("img/life_coding.jpg");
}

.posts > div:nth-child(6) > .img {
    background-image: url("img/story1.jpg");
}

.posts > div:nth-child(7) > .img {
    background-image: url("img/world_programming.jpg");
}